 html,body {
     min-width:360px;
     margin: 0px;
     background-color: white
 }

 a {
    color:#1B72E3;
    text-decoration:none;
 }

 a:hover {
    text-decoration:underline;
 }

 h1 {
    font-size: 12pt;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid silver;
 }

 strong {
    color:#1B72E3
 }

 .titulo {
    font-size: 12pt;
    text-align: center;
    padding: 10px;
 }

 .footer {
    padding: 3px;
 }

 .right {
     float: right;
 }

 .left {
     float: left;
 }
